#Week3 lab - basic Pandas operations and grouping.

##Instructions
1. Read csv file StudentsPerformance.csv
2. Perform the operations on the StudentsPerformance dataframe as instructed below.
   
*   a) Create a new column, **"average score"**, where the values are weighted in this criteria. (Math ~ 50%, reading ~25% and writing ~25%)  
*   b) Assign a letter grade to each student where
A >= 80, 80> B >=70, 70> C >=60, 60> D >=50 and F < 50 on **the average score**.

3. Answer the questions below.


*   a) How many students in this class get A? what is the percentage of A students?
*   b) If we observe only **"male"** students, What is the percentage among **"male"** students in this class get an A?

*   c) \[True/False\] We see more students who receive "**A**" on a parent with at least an "associate's degree" than a parent with a "high school" degree.
* d) How many students receive grade **A** on each "parental level of education" group?  

* e) What is the average math score on each "parental level of education" group?

"parental level of education" ~ [master's degree","bachelor's degree","some college","associate's degree",'high school','some high school'] sorted by degree order.

*You might want to use **.isin** to check if a value is in some list. ([ReadMe](https://stackoverflow.com/questions/12096252/use-a-list-of-values-to-select-rows-from-a-pandas-dataframe))*

In [3]:
import pandas as pd
pd.set_option('display.max_columns', 20)
pd.set_option('display.width', 1000)

In [4]:
import os
os.chdir('/Users/fulinq/Documents/KMITL/FinancialEngineering/Y2/T2/FE_IntroToDataScience/Week1_3/Lab1-3')

In [5]:
df_exams = pd.read_csv('StudentsPerformance.csv')
print(df_exams)

     gender race/ethnicity parental level of education         lunch test preparation course  math score  reading score  writing score
0    female        group B           bachelor's degree      standard                    none          72             72             74
1    female        group C                some college      standard               completed          69             90             88
2    female        group B             master's degree      standard                    none          90             95             93
3      male        group A          associate's degree  free/reduced                    none          47             57             44
4      male        group C                some college      standard                    none          76             78             75
..      ...            ...                         ...           ...                     ...         ...            ...            ...
995  female        group E             master's degree      standard               completed          88             99             95
996    male        group C                 high school  free/reduced                    none          62             55             55
997  female        group C                 high school  free/reduced               completed          59             71             65
998  female        group D                some college      standard               completed          68             78             77
999  female        group D                some college  free/reduced                    none          77             86             86

[1000 rows x 8 columns]

In [6]:
df_exams['average'] = df_exams['math score']*0.5 + df_exams['reading score']*0.25 +df_exams['writing score']*0.25
print(df_exams)

     gender race/ethnicity parental level of education         lunch test preparation course  math score  reading score  writing score  average
0    female        group B           bachelor's degree      standard                    none          72             72             74    72.50
1    female        group C                some college      standard               completed          69             90             88    79.00
2    female        group B             master's degree      standard                    none          90             95             93    92.00
3      male        group A          associate's degree  free/reduced                    none          47             57             44    48.75
4      male        group C                some college      standard                    none          76             78             75    76.25
..      ...            ...                         ...           ...                     ...         ...            ...            ...      ...
995  female        group E             master's degree      standard               completed          88             99             95    92.50
996    male        group C                 high school  free/reduced                    none          62             55             55    58.50
997  female        group C                 high school  free/reduced               completed          59             71             65    63.50
998  female        group D                some college      standard               completed          68             78             77    72.75
999  female        group D                some college  free/reduced                    none          77             86             86    81.50

[1000 rows x 9 columns]

In [7]:
def grader(score):
    if score >= 80:
        return 'A'
    elif score >= 70:
        return 'B'
    elif score >= 60:
        return 'C'
    elif score >= 50:
        return 'D'
    else:
        return 'F'


df_exams['grade'] = df_exams.apply(lambda x: grader(x['average']), axis =1)
print(df_exams)

     gender race/ethnicity parental level of education         lunch test preparation course  math score  reading score  writing score  average grade
0    female        group B           bachelor's degree      standard                    none          72             72             74    72.50     B
1    female        group C                some college      standard               completed          69             90             88    79.00     B
2    female        group B             master's degree      standard                    none          90             95             93    92.00     A
3      male        group A          associate's degree  free/reduced                    none          47             57             44    48.75     F
4      male        group C                some college      standard                    none          76             78             75    76.25     B
..      ...            ...                         ...           ...                     ...         ...            ...            ...      ...   ...
995  female        group E             master's degree      standard               completed          88             99             95    92.50     A
996    male        group C                 high school  free/reduced                    none          62             55             55    58.50     D
997  female        group C                 high school  free/reduced               completed          59             71             65    63.50     C
998  female        group D                some college      standard               completed          68             78             77    72.75     B
999  female        group D                some college  free/reduced                    none          77             86             86    81.50     A

[1000 rows x 10 columns]

In [8]:
print(df_exams.groupby('grade').size())
print(df_exams['grade'].value_counts().sort_index())

grade
A    196
B    254
C    262
D    183
F    105
dtype: int64
grade
A    196
B    254
C    262
D    183
F    105
Name: count, dtype: int64

In [9]:
print(df_exams.groupby('grade').size()*100/len(df_exams))
print(df_exams['grade'].value_counts().sort_index()*100/len(df_exams))

grade
A    19.6
B    25.4
C    26.2
D    18.3
F    10.5
dtype: float64
grade
A    19.6
B    25.4
C    26.2
D    18.3
F    10.5
Name: count, dtype: float64

In [16]:
inp = input() #A
fix = 'ABCDF'
if inp in fix:
    print('Number of student getting', inp, '\t\t', len(df_exams[df_exams['grade']==inp]))
    print('Percentage of student getting', inp, '\t', len(df_exams[df_exams['grade']==inp])*100/len(df_exams), '%')

Number of student getting B 		 254
Percentage of student getting B 	 25.4 %

In [11]:
selectDf = df_exams[(df_exams['gender'] == 'male') & (df_exams['grade']=="A")]
maleDf = df_exams[df_exams['gender'] == 'male']
print(f'Number of male getting A :\t\t{len(selectDf)}  students')
print(f'Number of male :\t\t\t{len(maleDf)} students')
print(f'Percentage of male getting A to male :\t{round(len(selectDf)*100/len(maleDf),2)} %')

Number of male getting A :		87  students
Number of male :			482 students
Percentage of male getting A to male :	18.05 %

In [17]:
aDf = df_exams[df_exams['grade']=="A"]
print(aDf['parental level of education'].value_counts())

assoDf = df_exams[(df_exams['grade']=="A") & (df_exams['parental level of education']=="associate's degree")]
highDf = df_exams[(df_exams['grade']=="A") & (df_exams['parental level of education']=="high school")]

print()
print(len(assoDf) > len(highDf))
# print(assoDf)
# print()
# print(highDf)

parental level of education
associate's degree    53
some college          45
bachelor's degree     31
some high school      27
master's degree       21
high school           19
Name: count, dtype: int64

     gender race/ethnicity parental level of education         lunch test preparation course  math score  reading score  writing score  average grade
35     male        group E          associate's degree      standard               completed          81             81             79    80.50     A
38   female        group D          associate's degree  free/reduced               completed          75             90             88    82.00     A
56   female        group E          associate's degree      standard               completed          82             85             86    83.75     A
102  female        group D          associate's degree      standard                    none          85             91             89    87.50     A
110  female        group D          associate's degree  free/reduced               completed          77             89             98    85.25     A
121    male        group B          associate's degree      standard               completed          91             89             92    90.75     A
149    male        group E          associate's degree  free/reduced               completed         100            100             93    98.25     A
216  female        group E          associate's degree  free/reduced               completed          83             86             88    85.00     A
221    male        group B          associate's degree      standard                    none          87             85             73    83.00     A
239    male        group C          associate's degree      standard                    none          84             80             80    82.00     A
246    male        group E          associate's degree      standard                    none          89             76             74    82.00     A
268  female        group D          associate's degree      standard               completed          88             92             95    90.75     A
285    male        group B          associate's degree      standard               completed          81             82             82    81.50     A
286    male        group E          associate's degree      standard               completed          97             82             88    91.00     A
299    male        group D          associate's degree  free/reduced                    none          90             87             75    85.50     A
333    male        group B          associate's degree      standard                    none          90             78             81    84.75     A
349    male        group E          associate's degree      standard                    none          87             74             76    81.00     A
380  female        group B          associate's degree      standard                    none          80             86             83    82.25     A
381    male        group C          associate's degree      standard               completed          87            100             95    92.25     A
397  female        group C          associate's degree      standard                    none          85             89             95    88.50     A
407  female        group B          associate's degree      standard                    none          82             80             77    80.25     A
409    male        group D          associate's degree      standard               completed          87             84             85    85.75     A
420  female        group C          associate's degree  free/reduced               completed          82             93             93    87.50     A
470  female        group C          associate's degree      standard               completed          83             85             90    85.25     A
474  female        group B          associate's degree      standard               completed          90             90             91    90.25     A
489    male        group A          associate's degree  free/reduced               completed          79             82             82    80.50     A
501  female        group B          associate's degree      standard               completed          94             87             92    91.75     A
503  female        group E          associate's degree      standard               completed          95             89             92    92.75     A
521  female        group C          associate's degree      standard                    none          91             86             84    88.00     A
533  female        group E          associate's degree      standard               completed          79             88             94    85.00     A
539    male        group A          associate's degree      standard               completed          97             92             86    93.00     A
541    male        group D          associate's degree  free/reduced               completed          79             82             80    80.00     A
543  female        group D          associate's degree      standard                    none          82             95             89    87.00     A
606  female        group C          associate's degree      standard                    none          85             84             82    84.00     A
614  female        group A          associate's degree      standard                    none          82             93             93    87.50     A
641  female        group D          associate's degree  free/reduced               completed          74             88             90    81.50     A
659    male        group D          associate's degree      standard                    none          90             87             85    88.00     A
696  female        group C          associate's degree      standard               completed          75             82             90    80.50     A
715  female        group B          associate's degree  free/reduced               completed          76             94             87    83.25     A
717  female        group C          associate's degree      standard               completed          96             96             99    96.75     A
719    male        group E          associate's degree  free/reduced               completed          91             73             80    83.75     A
736    male        group C          associate's degree      standard                    none          92             79             84    86.75     A
755  female        group E          associate's degree      standard                    none          84             95             92    88.75     A
779    male        group E          associate's degree      standard               completed          94             85             82    88.75     A
802  female        group E          associate's degree      standard                    none          87             94             95    90.75     A
864    male        group C          associate's degree      standard                    none          97             93             91    94.50     A
872    male        group B          associate's degree      standard               completed          82             84             78    81.50     A
873    male        group E          associate's degree  free/reduced                    none          90             90             82    88.00     A
886  female        group E          associate's degree      standard               completed          93            100             95    95.25     A
891  female        group E          associate's degree      standard                    none          85             92             85    86.75     A
934    male        group C          associate's degree      standard               completed          98             87             90    93.25     A
962  female        group E          associate's degree      standard                    none         100            100            100   100.00     A
979  female        group C          associate's degree      standard                    none          91             95             94    92.75     A

     gender race/ethnicity parental level of education         lunch test preparation course  math score  reading score  writing score  average grade
16     male        group C                 high school      standard                    none          88             89             86    87.75     A
49     male        group C                 high school      standard               completed          82             84             82    82.50     A
53     male        group D                 high school      standard                    none          88             78             75    82.25     A
125  female        group B                 high school      standard                    none          87             95             86    88.75     A
214    male        group E                 high school      standard               completed          87             91             81    86.50     A
263  female        group E                 high school      standard                    none          99             93             90    95.25     A
403  female        group D                 high school      standard               completed          88             99            100    93.75     A
447    male        group C                 high school      standard               completed          86             81             80    83.25     A
468  female        group A                 high school  free/reduced               completed          77             88             85    81.75     A
577  female        group B                 high school      standard                    none          81             91             89    85.50     A
633  female        group C                 high school      standard                    none          75             88             85    80.75     A
708    male        group D                 high school      standard                    none          89             87             79    86.00     A
728  female        group D                 high school  free/reduced                    none          73             92             84    80.50     A
742  female        group C                 high school      standard                    none          81             84             82    82.00     A
808    male        group C                 high school      standard                    none          90             75             69    81.00     A
833  female        group B                 high school      standard               completed          77             82             89    81.25     A
946    male        group B                 high school      standard                    none          82             82             80    81.50     A
950    male        group E                 high school      standard                    none          94             73             71    83.00     A
990    male        group E                 high school  free/reduced               completed          86             81             75    82.00     A

In [13]:
# def avgmath(df):
#     return sum(df)/len(df)

paDf = df_exams.groupby('parental level of education')['math score'].mean()
print(paDf)

parental level of education
associate's degree    67.882883
bachelor's degree     69.389831
high school           62.137755
master's degree       69.745763
some college          67.128319
some high school      63.497207
Name: math score, dtype: float64

In [14]:
pbDf = df_exams[(df_exams['parental level of education']=="associate's degree")]
print(pbDf['math score'].mean())

67.88288288288288