#Week3 lab - basic Pandas operations and grouping.

##Instructions
1. Read csv file StudentsPerformance.csv
2. Perform the operations on the StudentsPerformance dataframe as instructed below.
   
*   a) Create a new column, **"average score"**, where the values are weighted in this criteria. (Math ~ 50%, reading ~25% and writing ~25%)  
*   b) Assign a letter grade to each student where
A >= 80, 80> B >=70, 70> C >=60, 60> D >=50 and F < 50 on **the average score**.

3. Answer the questions below.


*   a) How many students in this class get A? what is the percentage of A students?
*   b) If we observe only **"male"** students, What is the percentage among **"male"** students in this class get an A?

*   c) \[True/False\] We see more students who receive "**A**" on a parent with at least an "associate's degree" than a parent with a "high school" degree.
* d) How many students receive grade **A** on each "parental level of education" group?  

* e) What is the average math score on each "parental level of education" group?

"parental level of education" ~ [master's degree","bachelor's degree","some college","associate's degree",'high school','some high school'] sorted by degree order.

*You might want to use **.isin** to check if a value is in some list. ([ReadMe](https://stackoverflow.com/questions/12096252/use-a-list-of-values-to-select-rows-from-a-pandas-dataframe))*

In [41]:
import pandas as pd
pd.set_option('display.max_columns', 20)
pd.set_option('display.width', 1000)

In [48]:
import os
os.chdir('/Users/fulinq/Documents/KMITL/FinancialEngineering/Y2/T2/FE_IntroToDataScience/Week1_3/Lab1-3')

In [49]:
df_exams = pd.read_csv('StudentsPerformance.csv')
print(df_exams)

     gender race/ethnicity parental level of education         lunch test preparation course  math score  reading score  writing score
0    female        group B           bachelor's degree      standard                    none          72             72             74
1    female        group C                some college      standard               completed          69             90             88
2    female        group B             master's degree      standard                    none          90             95             93
3      male        group A          associate's degree  free/reduced                    none          47             57             44
4      male        group C                some college      standard                    none          76             78             75
..      ...            ...                         ...           ...                     ...         ...            ...            ...
995  female        group E             master's degree      standard               completed          88             99             95
996    male        group C                 high school  free/reduced                    none          62             55             55
997  female        group C                 high school  free/reduced               completed          59             71             65
998  female        group D                some college      standard               completed          68             78             77
999  female        group D                some college  free/reduced                    none          77             86             86

[1000 rows x 8 columns]

In [50]:
df_exams['average'] = df_exams['math score']*0.5 + df_exams['reading score']*0.25 +df_exams['writing score']*0.25
print(df_exams)

     gender race/ethnicity parental level of education         lunch test preparation course  math score  reading score  writing score  average
0    female        group B           bachelor's degree      standard                    none          72             72             74    72.50
1    female        group C                some college      standard               completed          69             90             88    79.00
2    female        group B             master's degree      standard                    none          90             95             93    92.00
3      male        group A          associate's degree  free/reduced                    none          47             57             44    48.75
4      male        group C                some college      standard                    none          76             78             75    76.25
..      ...            ...                         ...           ...                     ...         ...            ...            ...      ...
995  female        group E             master's degree      standard               completed          88             99             95    92.50
996    male        group C                 high school  free/reduced                    none          62             55             55    58.50
997  female        group C                 high school  free/reduced               completed          59             71             65    63.50
998  female        group D                some college      standard               completed          68             78             77    72.75
999  female        group D                some college  free/reduced                    none          77             86             86    81.50

[1000 rows x 9 columns]

In [51]:
def grader(score):
    if score >= 80:
        return 'A'
    elif score >= 70:
        return 'B'
    elif score >= 60:
        return 'C'
    elif score >= 50:
        return 'D'
    else:
        return 'F'


df_exams['grade'] = df_exams.apply(lambda x: grader(x['average']), axis =1)
print(df_exams)

     gender race/ethnicity parental level of education         lunch test preparation course  math score  reading score  writing score  average grade
0    female        group B           bachelor's degree      standard                    none          72             72             74    72.50     B
1    female        group C                some college      standard               completed          69             90             88    79.00     B
2    female        group B             master's degree      standard                    none          90             95             93    92.00     A
3      male        group A          associate's degree  free/reduced                    none          47             57             44    48.75     F
4      male        group C                some college      standard                    none          76             78             75    76.25     B
..      ...            ...                         ...           ...                     ...         ...            ...            ...      ...   ...
995  female        group E             master's degree      standard               completed          88             99             95    92.50     A
996    male        group C                 high school  free/reduced                    none          62             55             55    58.50     D
997  female        group C                 high school  free/reduced               completed          59             71             65    63.50     C
998  female        group D                some college      standard               completed          68             78             77    72.75     B
999  female        group D                some college  free/reduced                    none          77             86             86    81.50     A

[1000 rows x 10 columns]

In [78]:
print(df_exams.groupby('grade').size())
print(df_exams['grade'].value_counts().sort_index())

grade
A    196
B    254
C    262
D    183
F    105
dtype: int64
grade
A    196
B    254
C    262
D    183
F    105
Name: count, dtype: int64

In [81]:
print(df_exams.groupby('grade').size()*100/len(df_exams))
print(df_exams['grade'].value_counts().sort_index()*100/len(df_exams))

grade
A    19.6
B    25.4
C    26.2
D    18.3
F    10.5
dtype: float64
grade
A    19.6
B    25.4
C    26.2
D    18.3
F    10.5
Name: count, dtype: float64

In [76]:
inp = input() #A
fix = 'ABCDF'
if inp in fix:
    print('Number of student getting', inp, '\t\t', len(df_exams[df_exams['grade']==inp]))
    print('Percentage of student getting', inp, '\t', len(df_exams[df_exams['grade']==inp])*100/len(df_exams), '%')

Number of student getting B 		 254
Percentage of student getting B 	 25.4 %

In [103]:
selectDf = df_exams[(df_exams['gender'] == 'male') & (df_exams['grade']=="A")]
maleDf = df_exams[df_exams['gender'] == 'male']
print(f'Number of male getting A :\t\t{len(selectDf)}  students')
print(f'Number of male :\t\t\t{len(maleDf)} students')
print(f'Percentage of male getting A to male :\t{round(len(selectDf)*100/len(maleDf),2)} %')

Number of male getting A :		87  students
Number of male :			482 students
Percentage of male getting A to male :	18.05 %

In [110]:
aDf = df_exams[df_exams['grade']=="A"]
print(aDf['parental level of education'].value_counts())

assoDf = df_exams[(df_exams['grade']=="A") & (df_exams['parental level of education']=="associate's degree")]
highDf = df_exams[(df_exams['grade']=="A") & (df_exams['parental level of education']=="high school")]

print()
print(len(assoDf) > len(highDf))

parental level of education
associate's degree    53
some college          45
bachelor's degree     31
some high school      27
master's degree       21
high school           19
Name: count, dtype: int64

True

In [128]:
# def avgmath(df):
#     return sum(df)/len(df)

paDf = df_exams.groupby('parental level of education')['math score'].mean()
print(paDf)

parental level of education
associate's degree    67.882883
bachelor's degree     69.389831
high school           62.137755
master's degree       69.745763
some college          67.128319
some high school      63.497207
Name: math score, dtype: float64

In [129]:
pbDf = df_exams[(df_exams['parental level of education']=="associate's degree")]
print(pbDf['math score'].mean())

67.88288288288288